<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>HOST NAME</th>
      <td>{{ host_name }}</td>
    </tr>
    <tr>
      <th>PORT</th>
      <td>{{ port }}</td>
    </tr>
  </tbody>
</table>
<small>
<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>Server_id</th>
      <th>Host</th>
      <th>Port</th>
      <th>Master_id</th>
      <th>Slave_UUID</th>
    </tr>
    {% for r in result %}
    <tr>
      <td>{{ r.Server_id }}</td>
      <td>{{ r.Host }}</td>
      <td>{{ r.Port }}</td>
      <td>{{ r.Master_id }}</td>
      <td>{{ r.Slave_UUID }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</small>
