<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>HOST NAME</th>
      <td>{{ host_name }}</td>
    </tr>
    <tr>
      <th>PORT</th>
      <td>{{ port }}</td>
    </tr>
  </tbody>
</table>
<small>
<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>Log_name</th>
      <th>File_size(Byte)</th>
    </tr>
    {% for r in result %}
    <tr>
      {% for i in r.items %}
      <td>{{ i.1 }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</small>
