<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>HOST NAME</th>
      <td>{{ host_name }}</td>
    </tr>
    <tr>
      <th>PORT</th>
      <td>{{ port }}</td>
    </tr>
  </tbody>
</table>
<small>
<table class="table table-bordered table-striped table-hover table-condensed">
  <tbody>
    <tr>
      <th style="text-align:center">Action</th>
      <th>Id</th>
      <th>User</th>
      <th>Host</th>
      <th>db</th>
      <th>Command</th>
      <th>Time</th>
      <th>State</th>
      <th>Info</th>
    </tr>
    {% for r in result %}
    <tr>
      <td style="text-align:center">
        <form action="/detail/{{ id }}/operation_kill_process" method="GET">
          <input type="hidden" name="kill_id" value={{ r.Id }}>
          <input class="btn btn-primary btn-sm" type="submit" value="Kill" onclick="return confirm('You are going to kill the ID={{ r.Id }}. Are you sure?')">
        </form>
      </td>
      <td>{{ r.Id }}</td>
      <td>{{ r.User }}</td>
      <td>{{ r.Host }}</td>
      <td>{{ r.db }}</td>
      <td>{{ r.Command }}</td>
      <td>{{ r.Time }}</td>
      <td>{{ r.State }}</td>
      <td>{{ r.Info }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</small>
