{% extends "./_base.html" %}
{% block content %}
<div class="container">
  <h2 class="text-center">Delete data</h2>
  {% include "./item_card.html" %}
  <p>Are you sure you want to delete this data?</p>
  <form action="" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="float-left">
          <a class="btn btn-outline-dark" href="{% url 'detail' item.pk %}">Back</a>
          <input type="submit" class="btn btn-outline-danger" value="Delete" />
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
