<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>HOST NAME</th>
      <td>{{ host_name }}</td>
    </tr>
    <tr>
      <th>PORT</th>
      <td>{{ port }}</td>
    </tr>
  </tbody>
</table>
<div class="jumbotron">
  <h3>Change parameter</h3>
  <form action="/detail/{{ id }}/operation_change_parameter" method="GET">
    <label>Variable_name</label>
    <select id="variable_name" name="variable_name" required>
      <option value="">Please select parameter</option>
      {% for r in result %}
      <option>{{ r.Variable_name }}</option>
      {% endfor %}
    </select>
    <label>Value</label>
    <input type="text" name="variable_value" required>
    <input class="btn btn-primary" type="submit" value="Change" onclick="return confirm('You are going to change parameter. Are you sure?')">
  </form>
</div>
<small>
<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>Variable_name</th>
      <th>Value</th>
    </tr>
    {% for r in result %}
    <tr>
      {% for i in r.items %}
      <td style="word-wrap:break-word">{{ i.1 }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</small>
